{% extends 'base.html' %}

{% load static %}


{% block conteudo %}



<!-- First Grid -->
<div class="container">
		<div class="jumbotron text-center">
			<h1>Coordenador</h1>
			<p>O quê você deseja fazer?</p>
		</div>
		<div class="row text-center">
			<div class="col-md-4">
				<a href="{% url 'user_actions:list_enterprise' %}" class="thumbnail home-thumb">
				    <h3>Avaliar registro de empresa</h3>
                </a>
                <p>Se você for novo, registre-se no nosso sistema.</p>

			</div>
			<div class="col-md-4">
				<a href="{% url 'user_actions:list_student' %}" class="thumbnail home-thumb">
				    <h3>Avaliar registro de aluno</h3>
				</a>
                <p>Você pode se identificar e realizar ações como: Criar vagas.</p>
			</div>

            <div class="col-md-4">
				<a href="{% url 'jobs:list_job_application' %}" class="thumbnail home-thumb">
				    <h3>Validar contrato</h3>
				</a>
                <p>Você valida ou não uma candidatura aprovada por aluno e empresa.</p>
			</div>

		</div>
	</div>


{% endblock %}