{% extends 'base.html' %}

{% load static %}


{% block conteudo %}



<!-- First Grid -->
<div class="container">
		<div class="jumbotron text-center">
			<h1>Aluno</h1>
			<p>O quê você deseja fazer?</p>
		</div>
		<div class="row text-center">
			<div class="col-md-6">
				<a href="{% url 'user_actions:student_register' %}" class="thumbnail home-thumb">
				    <h3>Gerar registro de aluno</h3>
                </a>
                <p>Se você for novo, registre-se no nosso sistema.</p>

			</div>
			<div class="col-md-6">
				<a href="{% url 'user_actions:student_profile' %}" class="thumbnail home-thumb">
				    <h3>Meu registro</h3>
				</a>
                <p>Você pode se identificar e alterar seus dados.</p>
			</div>

		</div>
	</div>


{% endblock %}