{% extends 'base.html' %}

{% load static %}


{% block conteudo %}



<!-- First Grid -->
<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card" >
            <div class="card-header" draggable="true"> Header </div>
            <div class="card-body">
              <h4>{{ student.name }}</h4>
              <h6 class="text-muted">{{ student.description }}</h6>
              <p>{{ student.enroll_number }}</p>
              <div class="col-md-6">
                <a href="{% url 'user_actions:list_jobs' %}" class="thumbnail home-thumb">
                    <h3>Listar Vagas</h3>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}