{% extends 'base.html' %}

{% load static %}


{% block conteudo %}



<!-- First Grid -->
<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card" >
            <div class="card-header" draggable="true"> {{ enterprise.id }} </div>
            <div class="card-body">
              <h4>{{ enterprise.name }}</h4>
              <h6 class="text-muted">{{ enterprise.description }}</h6>
              <p>{{ enterprise.register_date}}</p>
            </div>
          </div>
        </div>
      </div>
        <div class="row text-center">



			</div>
			<div class="col-md-4">
				<a href="{% url 'user_actions:list_candidates' %}" class="thumbnail home-thumb">
				    <h3>Ver Candidatos</h3>
				</a>
                <p>Verifica os alunos que querem trabalhar para você</p>
      </div>
      <div class="col-md-4">
				<a href="{% url 'user_actions:job_register' %}" class="thumbnail home-thumb">
				    <h3>Cadatrar Vaga</h3>
				</a>

			</div>

		</div>
    </div>
  </div>

{% endblock %}